<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>769042790963-a083qm393767utfehmad9q0qeidravrc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.769042790963-a083qm393767utfehmad9q0qeidravrc</string>
	<key>API_KEY</key>
	<string>AIzaSyB9ZdVNsQcUOjqj15eu_aiXqJOH02f_ipI</string>
	<key>GCM_SENDER_ID</key>
	<string>769042790963</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.drcare</string>
	<key>PROJECT_ID</key>
	<string>dcstore</string>
	<key>STORAGE_BUCKET</key>
	<string>dcstore.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769042790963:ios:d9fba8274dedcf45094146</string>
</dict>
</plist>